<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>

<body>
    <!-- Heading for success message with center alignment and red text color -->
    <h2 style="text-align: center; color: red;">We sent your message</h2>
    <p> You can send another in the <a href="{% url 'contact' %}">Contact Page</a></p>
    <!-- Link to the 'Contact Page' using a URL pattern defined in Django -->
</body>

</html>
